@page "/coding"

@inject NavigationManager NavManager

<!--CODING STOCK IMAGE SECTION-->
<div class="col-md-11 mx-auto text-center mb-5">
    <!--'CARD' INTRO TEXT SECTION-->
    <div class="col-md-11 mx-auto px-0 @(Color_Theme_Recieved == "Light" ? "light_general_text outline-light-border r-b-corner-light-shadow" : "dark_general_text outline-dark-border r-b-corner-dark-shadow" )">
        <!--CARD TITLE SECTION-->
        <!--THIS STOCK IMAGE DOESN'T NEED ONE SO IT'S SET TO NO DISPLAY-->
        <div class="d-none row mx-auto">
            <p class="col-md mx-auto text-center mb-0 py-2 @(Color_Theme_Recieved == "Light" ? "card-title-light-style" : "card-title-dark-style")">
                Coding Image
            </p>
        </div>
        <!--CARD OVERALL SECTION-->
        <div class="row mx-auto @(Color_Theme_Recieved == "Light" ? "card-body-light-style" : "card-body-dark-style")" style="border-radius:15px 15px 0px 0px;">
            <img class="img-fluid" style="min-width:100%; border-radius:15px 15px 0px 0px; @(Color_Theme_Recieved == "Light" ? "" : " filter: brightness(80%);")"
                 src="images/coding/coding_pic_header_1.png" />
            <!--END CARD BODY CONTENTS!-->
        </div>
        <!--CARD FOOTER SECTION-->
        <div class="row mx-auto @(Color_Theme_Recieved == "Light" ? "card-footer-light-style" : "card-footer-dark-style" )">
            <div class="mx-auto py-1">
                <p class="mx-auto text-center mb-0 py-2">
                    GUI credit to NotePad++ & JS Code partially by Jeff
                </p>
            </div>
        </div>
    </div>
</div>
<!--END CODING STOCK IMAGE SECTION-->
<!--///////////////////////////////////////////////////////////////////////////-->
<!--///////////////////////////////////////////////////////////////////////////-->
<!--CODING LANDING MESSAGE-->
<div class="col-md-11 mx-auto text-center mb-5">

    <!--'CARD' INTRO TEXT SECTION-->
    <div class="col-md-11 mx-auto px-0 @(Color_Theme_Recieved == "Light" ? "light_general_text outline-light-border r-b-corner-light-shadow" : "dark_general_text outline-dark-border r-b-corner-dark-shadow" )">
        <!--CARD TITLE SECTION-->
        <div class="row mx-auto">
            <p class="col-md mx-auto text-center mb-0 py-2 @(Color_Theme_Recieved == "Light" ? "card-title-light-style" : "card-title-dark-style")">
                Coding Snippets and more!
            </p>
        </div>
        <!--CARD OVERALL SECTION-->
        <div class="row mx-auto @(Color_Theme_Recieved == "Light" ? "card-body-light-style" : "card-body-dark-style")">

            <!--TEXT ROWS SECTION-->
            <div class="col-md-10 mx-auto px-0">
                <!--CAMERA RETRO ICON SECTION-->
                <div class="row mx-auto">
                    <i class="py-3 mx-auto fa-3x fas fa-laptop-code"></i>
                </div>
                <div class="row mx-auto">
                    <p class="mx-auto text-center mb-0 p-2">
                        Welcome!
                    </p>
                </div>
                <div class="row mx-auto">
                    <p class="mx-auto text-center mb-0 p-2">
                        Feel free to gander some code snippets & game projects that I've worked on!
                    </p>
                </div>

            </div>
            <!--END CARD BODY CONTENTS!-->
        </div>

        <!--CARD FOOTER SECTION-->
        <div class="row mx-auto @(Color_Theme_Recieved == "Light" ? "card-footer-light-style" : "card-footer-dark-style" )">
            <div class="col-md mx-auto py-1">
                <p class="mx-auto text-center mb-0 p-2">
                    Select a section to see more of a certain project and/or code snippet!
                </p>
            </div>
        </div>

    </div>
</div>
<!--END CODING LANDING MESSAGE-->
<!--///////////////////////////////////////////////////////////////////////////-->
<!--///////////////////////////////////////////////////////////////////////////-->
<!--CODING CARD LIST SECTION-->
<div class="col-md-11 mx-auto text-center mb-5">

    <!--'CARD' INTRO TEXT SECTION-->
    <div class="col-md-11 mx-auto px-0 @(Color_Theme_Recieved == "Light" ? "light_general_text outline-light-border r-b-corner-light-shadow" : "dark_general_text outline-dark-border r-b-corner-dark-shadow" )">
        <!--CARD TITLE SECTION-->
        <div class="row mx-auto">
            <p class="d-none col-md mx-auto text-center mb-0 py-2 @(Color_Theme_Recieved == "Light" ? "card-title-light-style" : "card-title-dark-style")">
                What would you like to see?
            </p>
        </div>
        <!--CARD OVERALL SECTION-->
        <div class="row mx-auto @(Color_Theme_Recieved == "Light" ? "card-body-light-style" : "card-body-dark-style")" style="border-radius:15px 15px 15px 15px">

            <!--TEXT ROWS SECTION-->
            <div class="col-md-10 mx-auto px-0">
                <!--NOTICE ICON SECTION-->
                <div class="row mx-auto">
                    <i class="py-3 mx-auto fa-3x fas fa-exclamation-circle" style="color:darkred;"></i>
                </div>
                <div class="row mx-auto">
                    <p class="mx-auto text-center mb-0 p-2">
                        Sorry, but there's currently no coding parts available at this moment.
                    </p>
                </div>
                <div class="row mx-auto">
                    <p class="mx-auto text-center mb-0 p-2">
                        Please come back at another time.
                    </p>
                </div>

            </div>
            <!--END CARD BODY CONTENTS!-->
        </div>

        <!--CARD FOOTER SECTION-->
        @*<div class="row mx-auto @(Color_Theme_Recieved == "Light" ? "card-footer-light-style" : "card-footer-dark-style" )">
                <div class="col-md mx-auto py-3">
                    <p class="mx-auto text-center mb-0 p-2">
                        Bounties will be processed as: FIFO!
                    </p>
                </div>
            </div>*@

    </div>

</div>
<!--END CODING CARD LIST SECTION-->
<!--/////////////////////////////////////////////////////////-->
<!--GAMES LIST SECTION-->
<div class="col-md-11 mx-auto text-center mb-5">

    <!--'CARD' INTRO TEXT SECTION-->
    <div class="col-md-11 mx-auto px-0 @(Color_Theme_Recieved == "Light" ? "light_general_text outline-light-border r-b-corner-light-shadow" : "dark_general_text outline-dark-border r-b-corner-dark-shadow" )">

        <!--CARD TITLE SECTION-->
        <div class="row mx-auto">
            <p class="col-md mx-auto text-center mb-0 py-2 @(Color_Theme_Recieved == "Light" ? "card-title-light-style" : "card-title-dark-style")">
                Homemade Games
            </p>
        </div>
        <!--CARD OVERALL SECTION-->
        <div class="row mx-auto">

            <!--CONTENTS SECTION-->
            <div class="row mx-auto px-4">
                <BlazoredPortfolio.Pages.coding.coding_components.CmpGamesMenu></BlazoredPortfolio.Pages.coding.coding_components.CmpGamesMenu>
               
              
            </div>
            <!--END CARD BODY CONTENTS!-->
        </div>
    </div>

</div>
<!--END GAMES LIST SECTION-->