<!--ENTER SITE ALTERATION LOGS HERE!-->

<div class="col-md-12 mx-auto px-0">


    <div class="@(Color_Theme_Recieved == "Light" ? "site-log-light-style " : "site-log-dark-style")">

        <!--SITE LOG NOTICE SECTION-->
        <div class="@(Color_Theme_Recieved == "Light" ? "site-log-light-style " : "site-log-dark-style")">
            <div class="row mx-auto">
                <i class="py-3 mx-auto fas fa-tools fa-3x"></i>
            </div>
            <div class="row mx-auto">
                <p class="mx-auto text-center mb-0 p-2">
                    Please note that only notable web app alteration entries appear here:
                </p>
            </div>
        </div>
        <!--END SITE LOG NOTICE SECTION-->
        <!--START SITE LOG ENTRIES!-->

        <div class="@(Color_Theme_Recieved == "Light" ? "site-log-light-style " : "site-log-dark-style")">
            <div class="row mx-auto">
                <p class="mx-auto text-center mb-0 p-2">
                    <b>02/01/23</b>
                </p>
            </div>
            <div class="row mx-auto">
                <p class="mx-auto text-center mb-0 p-2">
                    ADDED SITE NOTICE THAT THE SITE WILL BE REBUILT
                </p>
            </div>
        </div>

        <div class="@(Color_Theme_Recieved == "Light" ? "site-log-light-style " : "site-log-dark-style")">
            <div class="row mx-auto">
                <p class="mx-auto text-center mb-0 p-2">
                    <b>10/25/21</b>
                </p>
            </div>
            <div class="row mx-auto">
                <p class="mx-auto text-center mb-0 p-2">
                    ADDED OPEN NEW TAB FUNCTIONALITES TO CODING GAME CARDS
                </p>
            </div>
        </div>

        <div class="@(Color_Theme_Recieved == "Light" ? "site-log-light-style " : "site-log-dark-style")">
            <div class="row mx-auto">
                <p class="mx-auto text-center mb-0 p-2">
                    <b>10/11/21</b>
                </p>
            </div>
            <div class="row mx-auto">
                <p class="mx-auto text-center mb-0 p-2">
                    FIXED 404 PAGE COLOR THEME FUNCTIONALITY
                </p>
            </div>
        </div>

        <div class="@(Color_Theme_Recieved == "Light" ? "site-log-light-style " : "site-log-dark-style")">
            <div class="row mx-auto">
                <p class="mx-auto text-center mb-0 p-2">
                    <b>10/07/21</b>
                </p>
            </div>
            <div class="row mx-auto">
                <p class="mx-auto text-center mb-0 p-2">
                    CHANGED DONATION LINKS TO BUTTONS + ADDED 2 GAME ENTRIES TO CODING PAGE
                </p>
            </div>
        </div>

        <div class="@(Color_Theme_Recieved == "Light" ? "site-log-light-style " : "site-log-dark-style")">
            <div class="row mx-auto">
                <p class="mx-auto text-center mb-0 p-2">
                    <b>10/05/21</b>
                </p>
            </div>
            <div class="row mx-auto">
                <p class="mx-auto text-center mb-0 p-2">
                    CORRECTED CONTACT PAGE NAVIGATON ERROR WITH URL DATA + ADDED CLEAR FORM FUNCTIONALITY
                </p>
            </div>
        </div>

        <div class="@(Color_Theme_Recieved == "Light" ? "site-log-light-style " : "site-log-dark-style")">
            <div class="row mx-auto">
                <p class="mx-auto text-center mb-0 p-2">
                    <b>10/03/21</b>
                </p>
            </div>
            <div class="row mx-auto">
                <p class="mx-auto text-center mb-0 p-2">
                    ADDED COPY URL FUNCTIONALITY TO BLOG #1
                </p>
            </div>
        </div>
        <div class="@(Color_Theme_Recieved == "Light" ? "site-log-light-style " : "site-log-dark-style")">
            <div class="row mx-auto">
                <p class="mx-auto text-center mb-0 p-2">
                    <b>09/30/21</b>
                </p>
            </div>
            <div class="row mx-auto">
                <p class="mx-auto text-center mb-0 p-2">
                    FINISHED BLOG ENTRY #01 CONTENTS + ADDED MORE NAVIGATIONS TO CONTACT FORM
                </p>
            </div>
        </div>

        <div class="@(Color_Theme_Recieved == "Light" ? "site-log-light-style " : "site-log-dark-style")">
            <div class="row mx-auto">
                <p class="mx-auto text-center mb-0 p-2">
                    <b>09/17/21</b>
                </p>
            </div>
            <div class="row mx-auto">
                <p class="mx-auto text-center mb-0 p-2">
                    FINISHED BOUNTY #1 CONTENTS + ADDED MORE NAVIGATIONS TO CONTACT + ADDED NEW BACKGROUND COLORS TO BOTH COLOR SCHEMES TO CARDS + ABLE TO RETURN TO CONTACT FORM AFTER SUBMITING FORM RESPONSE
                </p>
            </div>
        </div>

        <div class="@(Color_Theme_Recieved == "Light" ? "site-log-light-style " : "site-log-dark-style")">
            <div class="row mx-auto">
                <p class="mx-auto text-center mb-0 p-2">
                    <b>09/10/21</b>
                </p>
            </div>
            <div class="row mx-auto">
                <p class="mx-auto text-center mb-0 p-2">
                    FINISHED OVERALL STRUCTURE OF AUTO FILLING CONTACT FORM + URLDATA CHECKS
                </p>
            </div>
        </div>

        <div class="@(Color_Theme_Recieved == "Light" ? "site-log-light-style " : "site-log-dark-style")">
            <div class="row mx-auto">
                <p class="mx-auto text-center mb-0 p-2">
                    <b>09/09/21</b>
                </p>
            </div>
            <div class="row mx-auto">
                <p class="mx-auto text-center mb-0 p-2">
                    OVERCAME ROUTE PARAMETERS MESSING UP NAV MENU LINKS
                </p>
            </div>
        </div>

        <div class="@(Color_Theme_Recieved == "Light" ? "site-log-light-style " : "site-log-dark-style")">
            <div class="row mx-auto">
                <p class="mx-auto text-center mb-0 p-2">
                    <b>08/31/21</b>
                </p>
            </div>
            <div class="row mx-auto">
                <p class="mx-auto text-center mb-0 p-2">
                    COMPLETED MAJORITY OF BLAZORED PORTFOLIO APP'S STRUCTURE
                </p>
            </div>
        </div>

        <div class="@(Color_Theme_Recieved == "Light" ? "site-log-light-style " : "site-log-dark-style")">
            <div class="row mx-auto">
                <p class="mx-auto text-center mb-0 p-2">
                    <b>08/23/21</b>
                </p>
            </div>
            <div class="row mx-auto">
                <p class="mx-auto text-center mb-0 p-2">
                    STARTED FORMAL BLAZOR APP
                </p>
            </div>
        </div>

        <div class="@(Color_Theme_Recieved == "Light" ? "site-log-light-style " : "site-log-dark-style")">
            <div class="row mx-auto">
                <p class="mx-auto text-center mb-0 p-2">
                    <b>08/05/21</b>
                </p>
            </div>
            <div class="row mx-auto">
                <p class="mx-auto text-center mb-0 p-2">
                    STARTED WITH BLAZOR PRACTICE APP
                </p>
            </div>
        </div>

        <div class="@(Color_Theme_Recieved == "Light" ? "site-log-light-style " : "site-log-dark-style")">
            <div class="row mx-auto">
                <p class="mx-auto text-center mb-0 p-2">
                    <b>02/05/21</b>
                </p>
            </div>
            <div class="row mx-auto">
                <p class="mx-auto text-center mb-0 p-2">
                    ADDED DONATION SECTION TO PREVIOUS VERSION'S SITE
                </p>
            </div>
        </div>

        <div class="@(Color_Theme_Recieved == "Light" ? "site-log-light-style " : "site-log-dark-style")">
            <div class="row mx-auto">
                <p class="mx-auto text-center mb-0 p-2">
                    <b>11/06/20</b>
                </p>
            </div>
            <div class="row mx-auto">
                <p class="mx-auto text-center mb-0 p-2">
                    FIXED PREVIOUS VERSION'S CONTACT PAGE'S COMPONENTS
                </p>
            </div>
        </div>

        <div class="@(Color_Theme_Recieved == "Light" ? "site-log-light-style " : "site-log-dark-style")">
            <div class="row mx-auto">
                <p class="mx-auto text-center mb-0 p-2">
                    <b>10/25/20</b>
                </p>
            </div>
            <div class="row mx-auto">
                <p class="mx-auto text-center mb-0 p-2">
                    PROUDLY UPLOADED PREVIOUS VERSION OF SITE TO GITHUB
                </p>
            </div>
        </div>
    </div>
</div>
