<Router AppAssembly="@typeof(Program).Assembly" PreferExactMatches="@true">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
    </Found>
    <NotFound>


        <LayoutView Layout="@typeof(MainLayout)">
            <!--'CARD' INTRO TEXT SECTION-->
            <!--<div class="col-md-5 mx-auto px-0 outline-dark-border r-b-corner-dark-shadow">-->
                <!--CARD TITLE SECTION-->
                <!--<div class="row mx-auto">
                    <p class="col-md mx-auto text-center mb-0 py-2 card-title-dark-style">
                        Page Routing Error
                    </p>
                </div>-->
                    <!--CARD OVERALL SECTION-->
                    <!--<div class="row mx-auto" style="background-color:var(--card-footer-light-color);">
                        <div class="row mx-auto">
                            <i class="py-3 mx-auto fas fa-exclamation-triangle fa-3x mx-auto" style="color:darkred;"></i>
                        </div>-->

                        <p class="mx-auto text-center mb-0 px-2 py-4">
                            Sorry, there's nothing found at this address.
                        </p>
                    <!--</div>-->
                    <!--CARD FOOTER SECTION-->
                    <!--<div class="row mx-auto card-footer-light-style">
                        <div class="col-md mx-auto py-1">
                            <p class="mx-auto text-center mb-0 p-2">
                                Please Check the URL and try again!
                            </p>
                        </div>
                    </div>
            </div>-->

</LayoutView>
    </NotFound>
</Router>
