@page "/coding/game1"

@inject NavigationManager NavManager


<div class="col-md-12 mx-auto text-center mb-5">
    <!--'CARD' INTRO TEXT SECTION-->
    <div class="col-md-11 mx-auto px-0 @(Color_Theme_Recieved == "Light" ? "light_general_text outline-light-border r-b-corner-light-shadow" : "dark_general_text outline-dark-border r-b-corner-dark-shadow" )">
        <!--CARD TITLE SECTION-->
        <div class="row mx-auto">
            <p class="col-md mx-auto text-center mb-0 py-2 @(Color_Theme_Recieved == "Light" ? "card-title-light-style" : "card-title-dark-style")">
                Homemade Game #1
            </p>
        </div>


        <!--CARD OVERALL SECTION-->
        <div class="row mx-auto @(Color_Theme_Recieved == "Light" ? "card-body-light-style" : "card-body-dark-style")">

            <!--TEXT ROWS SECTION-->
            <div class="col-md-10 mx-auto px-0">

                <div class="row mx-auto">
                    <h3 class="mx-auto text-center my-4 p-2">
                        <b>Hot Potatoe</b>
                    </h3>
                </div>

                <div class="row mx-auto">
                    <p class="mx-auto text-center mb-0 p-2">
                        <b>Game Play Screen Shots</b>
                    </p>
                </div>
                <!--///////////////////////////////////////////////////////-->
                <!--SLIDESHOW CONTENTS-->
                <div class="row mx-auto justify-content-center my-4">
                    <div class="col-md-10 mx-auto">
                        <img class="img-fluid @(Color_Theme_Recieved == "Light" ? "outline-light-border r-b-corner-light-shadow" : "outline-dark-border r-b-corner-dark-shadow" )" style="min-width:100%; border-radius:15px 15px 15px 15px;
                            @(Color_Theme_Recieved == "Light" ? "" : " filter: brightness(80%);")"
                             src=@("images/coding/games_attract/hot_potato/games_project_1_image_" + SlideShow_Index + ".png") />
                    </div>
                </div>
                <!--///////////////////////////////////////////////////////-->
                <!--NOTE: SLIDESHOW CONROLS WILL APPEAR ON BOTTOM OF SLIDESHOW INSTEAD OF LEFT & RIGHT SIDE TO BE MORE MOBILE MINDED-->
                <div class="row mx-auto justify-content-center my-2">
                    <div class="ml-auto mr-5 my-auto">
                        <i class=" py-2 mx-auto fa-3x far fas  @(SlideShow_Index < 2 ? "fas fa-times cursor-invalid px-3" : "fa-caret-left cursor-pointer px-4")
                           @(Color_Theme_Recieved == "Light" ? "outline-light-border r-b-corner-light-shadow" : "outline-dark-border r-b-corner-dark-shadow")"
                           @onclick="(() => On_SlideShow_SRC(-1))"></i>
                    </div>
                    <div class="mr-auto ml-5 my-auto">
                        <i class=" py-2 mx-auto fa-3x far fas @(SlideShow_Index > 3 ? "fas fa-times cursor-invalid px-3" : "fa-caret-right cursor-pointer px-4")
                            @(Color_Theme_Recieved == "Light" ? "outline-light-border r-b-corner-light-shadow" : "outline-dark-border r-b-corner-dark-shadow")"
                           @onclick="(() => On_SlideShow_SRC(1))"></i>
                    </div>
                </div>
                <!--///////////////////////////////////////////////////////-->

                <div class="row mx-auto">
                    <p class="mx-auto text-center mb-0 p-2">
                        This particular 'resource-light' game project was intended to be used in a workshop at a University under the Computer Science Club.
                    </p>
                </div>

                <div class="row mx-auto">
                    <p class="mx-auto text-center mb-0 p-2">
                        The game was designed to showcase certain components of game-design, such as object inheritance, proper asset usage, and AI attempts.
                    </p>
                </div>

                @*<div class="row mx-auto">
            <p class="mx-auto text-center mb-0 p-2">
                <b>Game Play Video</b>
            </p>
        </div>*@

                <!--GAMEPLAY VIDEO SECTION-->
                <div class="col-md-11 mx-auto mb-3">
                    <div class="@(Color_Theme_Recieved == "Light" ? "outline-light-border r-b-corner-light-shadow" : "outline-dark-border r-b-corner-dark-shadow" )" style="min-width:100%; border-radius:15px 15px 15px 15px;">
                        <!--CARD TITLE SECTION-->
                        <div class="row mx-auto">
                            <p class="col-md mx-auto text-center mb-0 py-2 @(Color_Theme_Recieved == "Light" ? "card-title-light-style" : "card-title-dark-style")">
                                Hot Potatoe Gameplay
                            </p>
                        </div>

                        <!--SHOULD ONLY DISPLAY WHEN THERE'S NO VIDEO ERROR & IT'S LOADING-->
                        <div class="@(VideoLoaded == false && VideoError == false ? "" : "d-none")">
                            <div class="row mx-auto">
                                <p class="mx-auto text-center mb-0 p-2">
                                    Video Is Loading
                                </p>
                            </div>
                            <div class="row mx-auto py-3">
                                <div class="mx-auto spinner-border text-success" role="status">
                                    <span class="sr-only">Loading...</span>
                                </div>
                            </div>
                            <div class="row mx-auto">
                                <p class="mx-auto text-center mb-0 p-2">
                                    Thanks for waiting...
                                </p>
                            </div>
                        </div>

                        <!--VIDEO SECTION-->
                        <div class="@(VideoLoaded == false && VideoError == false ? "d-none" : "") row px-4 my-4 mx-auto  ">
                            @*Play="OnPlay"*@
                            @*  TODO: 10/07/2021 For some reason, ErrorEvent fires as soon as page loads, which doesn't make sense...
                    ErrorEvent="VideoErrorEvent"*@
                            <div class="@(Color_Theme_Recieved == "Light" ? "outline-light-border r-b-corner-light-shadow" : "outline-dark-border r-b-corner-dark-shadow")" style=" border-radius:15px 15px 15px 15px;">
                                <BlazoredVideo CanPlayEvent="VideoIsReady"
                                               ErrorEvent="VideoErrorEvent"
                                               class="img-fluid"
                                               style="border-radius:15px 15px 15px 15px; min-height:100%"
                                               controls="controls">
                                    <source src="https://drive.google.com/uc?export=download&amp;id=1Y7HUYahCNnQqItq5343N0-sE3UtLh2f8" type="video/mp4" /> @*8*@
                                </BlazoredVideo>
                            </div>
                            <!--<video id="VIDEO" class=" img-fluid" controls=""  >--> @*oncanplay="@VideoIsReady()"*@
                            <!--<source src="https://drive.google.com/uc?export=download&amp;id=1Y7HUYahCNnQqItq5343N0-sE3UtLh2f8" type="video/mp4">
                </video>-->
                        </div>


                        @*TODO: 10/07/2021 For some reason, this is still displayed even though there's no error!"*@
                        <!--VIDEO ERROR SECTION-->
                        <div class="@(VideoError == false ? "d-none" : "") row px-4 mx-auto">
                            <div class="row mx-auto">
                                <i class="py-3 mx-auto fa-3x fas fa-exclamation-circle" style="color:darkred;"></i>
                            </div>
                            <div class="row mx-auto">
                                <p class="mx-auto text-center mb-0 p-2">
                                    There was an error with the gameplay video.
                                </p>
                            </div>
                        </div>

                        <!--VIDEO FOOTER-->
                        <div class="row mx-auto @(Color_Theme_Recieved == "Light" ? "card-footer-light-style" : "card-footer-dark-style" )">
                            <p class="mx-auto text-center mb-0 p-2">
                                <i><b>All Copyrighted assets belong to their respectful owners.</b></i>
                            </p>
                        </div>

                    </div>
                </div>
                @*<div class="row px-4 mx-auto">
            <video controls="" class="@(Color_Theme_Recieved == "Light" ? "outline-light-border r-b-corner-light-shadow" : "outline-dark-border r-b-corner-dark-shadow" )" style="min-width:100%; border-radius:15px 15px 15px 15px;">
                <source src="https://drive.google.com/uc?export=download&amp;id=1Y7HUYahCNnQqItq5343N0-sE3UtLh2f8" type="video/mp4">
            </video>
        </div>*@

                @*<div class="row mx-auto">
            <p class="mx-auto text-center mb-0 p-2">
                <i><b>All Copyrighted assets belong to their respectful owners.</b></i>
            </p>
        </div>*@

                <!--END GAMEPLAY VIDEO SECTION-->

                <div class="row mx-auto">
                    <p class="mx-auto text-center mb-0 p-2">
                        The game-play consists of one player that controls the character on the left side of the screen.
                    </p>
                </div>

                <div class="row mx-auto">
                    <p class="mx-auto text-center mb-0 p-2">
                        The objective is to attempt to hammer the bomb outside of the screen until the timer runs out.
                    </p>
                </div>

                <!--CONTROLS SECTION-->
                <div class="row mx-auto">
                    <i class="py-3 mx-auto fa-3x far fa-keyboard"></i>
                </div>

                <div class="row mx-auto">
                    <p class="mx-auto text-center mb-0 p-2">
                        <u>Controls for this game as follows:</u>
                    </p>
                </div>

                <div class="row mx-auto mb-1">
                    <p class="mx-auto text-center mb-0 p-2">
                        <b>Menu Keys</b>
                    </p>
                </div>

                <div class="row mx-auto mb-1">
                    <p class="mx-auto text-center mb-0 p-2">
                        P Key: Start the Game
                    </p>
                </div>

                <div class="row mx-auto mb-1">
                    <p class="mx-auto text-center mb-0 p-2">
                        Q Key: Quits the game
                    </p>
                </div>

                <div class="row mx-auto mb-1">
                    <p class="mx-auto text-center mb-0 p-2">
                        <b>Game Play Keys</b>
                    </p>
                </div>

                <div class="row mx-auto mb-1">
                    <p class="mx-auto text-center mb-0 p-2">
                        A Key: Move Left
                    </p>
                </div>

                <div class="row mx-auto mb-1">
                    <p class="mx-auto text-center mb-0 p-2">
                        D Key: Move Right
                    </p>
                </div>

                <div class="row mx-auto mb-1">
                    <p class="mx-auto text-center mb-0 p-2">
                        J Key: Swing Hammer
                    </p>
                </div>

                <div class="row mx-auto mb-1">
                    <p class="mx-auto text-center mb-0 p-2">
                        R Key: Restart Match
                    </p>
                </div>

                <!--BACKGROUND INFO-->
                <div class="row mx-auto">
                    <i class="py-3 mx-auto fa-3x fas fa-info-circle"></i>
                </div>

                <div class="row mx-auto">
                    <p class="mx-auto text-center mb-0 p-2">
                        <b>Background Information</b>
                    </p>
                </div>

                <div class="row mx-auto">
                    <p class="mx-auto text-center mb-0 p-2">
                        This particular game was built within about <b>2 & 1/2 days.</b> Reason for this was because a
                        workshop was requested at a last minute notice. This meant that I had to juggle between a
                        <b>
                            <u>
                                full time academic course load, create and fully design this project, and advertise all within a WEEK.
                            </u>
                        </b>
                    </p>
                </div>

                <div class="row mx-auto">
                    <p class="mx-auto text-center mb-0 p-2">
                        Despite the quick work-arounds, the project was able to be produced and showcased in the workshop to interested peers.
                        The downside of this quick project was that there was not enough time to <b>fully flesh out the opponent's A.I.</b> to take
                        into account for <b>all potential game-play scenarios.</b> (I.e, What if the bomb is moving too fast on the opponent's side?)
                    </p>
                </div>

                <div class="row mx-auto">
                    <p class="mx-auto text-center mb-0 p-2">
                        <u><b>Game is distributed as is!</b></u>
                    </p>
                </div>

                <div class="row mx-auto justify-content-center mb-4">
                    @*https://drive.google.com/drive/folders/16ga2HOr1oB_mLOfUgM2SThN68KciAOTw*@

                    <a href="https://drive.google.com/file/d/1hfNDcVjyF1qehAP4ecvdO-cwOaRvFjAf/view" target="_blank" rel="noopener noreferrer"
                       class="btn cursor-pointer @(Color_Theme_Recieved == "Light" ? "light_general_text btn-outline-dark r-b-corner-dark-shadow" : "dark_general_text btn-outline-light r-b-corner-light-shadow")">
                        Download Hot Potato
                        <i class="fas fa-external-link-alt fa-1x"></i>
                    </a>
                </div>

            </div>
        </div>
        <!--END CARD CONTENTS-->

        @*CARD FOOTER SECTION*@
        <div class="row mx-auto @(Color_Theme_Recieved == "Light" ? "card-footer-light-style" : "card-footer-dark-style" )">
            <div class="col-md mx-auto py-3">
                <button @onclick="ReturnToCodePage" type="button" class="btn cursor-pointer @(Color_Theme_Recieved == "Light" ? "light_general_text btn-outline-light r-b-corner-dark-shadow" : "dark_general_text btn-outline-light r-b-corner-light-shadow")">
                    Return To Code Page
                </button>
            </div>

            <div class="col-md mx-auto py-3">
                <button @onclick="GameContact" type="button" class="btn cursor-pointer @(Color_Theme_Recieved == "Light" ? "light_general_text btn-outline-light r-b-corner-dark-shadow" : "dark_general_text btn-outline-light r-b-corner-light-shadow")">
                    Contact about this Game
                </button>
            </div>
        </div>
        <!--END FOOTER SECTION-->
    </div>
</div>
