@inherits LayoutComponentBase
@*@inject IJSRuntime JSRuntime*@
@*@inject Blazored.SessionStorage.ISessionStorageService sessionStorage*@
@inject Blazored.LocalStorage.ILocalStorageService localStore
@*NOTE: If I'm having any issues with css not updating, delete/stop cache*@
@*class="@(MainColorTheme == "Light" ? "light_body" : "dark_body")"*@

<!--TODO: WILL THIS CASCADING VALUE WORK WHEN DEPLOYING LOCALLY AND ONLINE?-->
<CascadingValue Value="this" >
    <body class="@(MainColorTheme == "Light" ? "light_body" : "dark_body")" style="min-height:95vh;">
        <!--NOW YOU ARE ON TOP INSTEAD OF THE LEFT SIDE!-->
        <NavMenu @bind-colorTheme="MainColorTheme" />

        <div class="container" style="padding-top:20vh; padding-bottom:20vh;">
            @Body
        </div>

    </body>
</CascadingValue>
    <!--IF THERE'S NO SESSION COOKIE FOUND, SHOW THIS MESSAGE-->
    @if (ShowCookieNotification == true) {
        <div class="fixed-bottom pt-1 @(MainColorTheme == "Light" ? "light_nav light_general_text" : "dark_nav dark_general_text")">
            <div class="row mx-auto @(MainColorTheme == "Light" ? "cookie-msg-icon-light-border" : "cookie-msg-icon-dark-border")">
                <!--CANCEL SECTION-->
                <div class="col-md text-right mx-auto">
                    <i class="far fa-times-circle cursor-pointer fa-2x" @onclick="(()=>On_ShowCookieNotificationChanged(false))"></i>
                </div>
            </div>

            <div class="row mx-auto">
                <!--COOKIE MESSAGE SECTION-->
                <div class="col-md-5 text-center mx-auto  ">
                    <div class="row mx-auto">
                        <div class="col-md mx-auto mt-2">
                            <p class="mb-1">Please note that this application uses cookies for the following reasons:</p>
                        </div>
                    </div>

                    <div class="row mx-auto justify-content-center">
                        <div class="col-md-9 ">
                            <ul>
                                <li><p class="mb-0">To Remember which Color Theme you've picked.</p></li>
                                <li><p>To Communicate between pages.</p></li>
                            </ul>
                        </div>
                        <!--COOKIE ICON SECTION-->
                        <div class="col-md-1 my-auto">
                            <i class="fa fa-solid fa-cookie-bite fa-2x fa-spin"></i>
                        </div>
                    </div>

                    <div class="row mx-auto">
                        <div class="col-md mx-auto">
                            <p class="border-bottom mx-auto" style="width:fit-content;">
                                By using this application, you consent with these delicious cookies.
                            </p>
                        </div>
                    </div>

                    <div class="row mx-auto">
                        <div class="col-md mx-auto">
                            <p class="mb-1">
                                If you see this message repeately, this means that you have cookies disabled...
                            </p>
                        </div>
                    </div>

                </div>

            </div>
        </div>
        //END COOKIE MESSAGE SECTION
    }

    <!--FOOTER SECTION-->
    <footer class="@(MainColorTheme == "Light" ? "light_nav" : "dark_nav") py-3 ">
        <div class="row mx-auto justify-content-center">
            <div class="col-md-3 text-center">
                <p class="mx-auto my-auto @(MainColorTheme == "Light" ? "light_general_text" : "dark_general_text")">
                    The Jeff can be also Contacted via:
                </p>
            </div>
            <div class="col-md-2 text-center @(MainColorTheme == "Light" ? "light_general_text" : "dark_general_text")">
                <i class="fab fa-discord"></i><span>  Contact The Jeff#2736</span>
            </div>
            @*<p class="mx-auto my-auto @(MainColorTheme == "Light" ? "light_general_text" : "dark_general_text")">
                The Jeff can be also Contacted via:  
            </p>*@
        </div>
    </footer>


    @*<div class="page">
            <div class="sidebar">
                <NavMenu />
            </div>

            <div class="main">
                <div class="top-row px-4">
                    <a href="http://blazor.net" target="_blank" class="ml-md-auto">About</a>
                </div>

                <div class="content px-4">
                    @Body
                </div>
            </div>
        </div>*@
